  <!-- Table -->
  <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Program Name</th>
                    <th>Execution count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="l in keyList">
                    <td>
                      <a ng-if="l._id"
                      href="#/key/{{l._id}}"
                      ng-click="setCount(l.doc_count)">
                        {{l._id}}
                      </a>
                      <a ng-if="l.key" href="#/key/{{l.key}}" ng-click="setCount(l.doc_count)">{{l.key}}</a>
                    </td>
                    <td>
                      <a ng-if="l._id"
                      href="#/key/{{l._id}}"
                      ng-click="setCount(l.doc_count)">
                        {{l.doc_count}}
                      </a>
                      <a ng-if="l.key" href="#/key/{{l.key}}" ng-click="setCount(l.doc_count)">{{l.doc_count}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
